<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./img/Trix.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="./src/pages/global.js"></script>
    <script
      src="https://kit.fontawesome.com/edd99ad8ab.js"
      crossorigin="anonymous"></script>
    <link href="./src/output.css" rel="stylesheet" />
    <title>Trix - Welcome</title>
  </head>

  <body class="overflow-x-hidden">
    <header class="header-paddings flex items-center justify-between">
      <img src="./svg/trix-logo-black.svg" alt="trix logo" />
      <nav class="hidden lg:inline-block">
        <ul class="flex items-center gap-6 mr-6">
          <li><a href="/src/pages/home.html">Home</a></li>
          <li>Services</li>
          <li>For Vendors</li>
          <li><a href="/src/pages/about.html">About Us</a></li>
          <li>
            <a href="/src/pages/sign-up.html">
              <!-- onclick="window.location.href='./pages/get-started.html'" -->
              <button class="px-8 py-3 rounded-lg text-white bg-purple">
                Get Started
              </button>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Mobile nav bar -->
      <div class="lg:hidden z-10">
        <button class="openBtn size-10">
          <img src="/svg/icon-hamburger-dark.svg" alt="icon hamburger" />
        </button>
        <button class="closeBtn hidden relative z-30 size-10">
          <img src="/svg/icon-close-dark.svg" alt="icon close" />
        </button>

        <ul
          class="menu hidden flex-col z-20 text-center items-center justify-center gap-6 absolute h-screen top-0 left-0 right-0 bg-[#ffffffc0] text-black [&_li]:text-xl">
          <li><a href="/src/pages/home.html">Home</a></li>
          <li>Services</li>
          <li>For Vendors</li>
          <li><a href="/src/pages/about.html">About Us</a></li>
          <li>
            <a href="/src/pages/sign-up.html">
              <!-- onclick="window.location.href='./pages/get-started.html'" -->
              <button class="px-8 py-3 rounded-lg text-white bg-purple">
                Get Started
              </button>
            </a>
          </li>
        </ul>
      </div>
      <!-- Mobile nav bar -->
    </header>

    <main
      class="relative paddings flex flex-col-reverse items-center lg:flex-row lg:items-start lg:justify-between min-h-screen text-center lg:text-left h-max lg:h-screen overflow-hidden pt-20 gap-10">
      <div class="space-y-6">
        <h1 class="lg:text-3xl text-2xl font-bold leading-[1.3]">
          Your Portal to Gaming Excellence<br />and Endless Adventures
        </h1>
        <p class="lg:xtext-2xl text-lg">
          <i>"</i>
          Immerse Yourself in a World Where Gaming
          <br />Dreams Come Alive with Trix <i>"</i>.
        </p>
        <small class="text-lg"
          >Where Every Click Unleashes a New Level of Thrill !</small
        >
        <div
          class="flex justify-center mb-8 lg:justify-start items-center gap-6">
          <div>
            <p class="text-2xl font-bold block">3k+</p>
            <p class="text-gray-400">Active Users</p>
          </div>
          <div class="border-l border-black pl-4">
            <p class="text-2xl font-bold block">10k+</p>
            <p class="text-gray-400">Downloaded</p>
          </div>
        </div>
        <div>
          <a href="/src/pages/sign-up.html">
            <button class="px-8 py-3 rounded-lg text-white bg-purple mr-4">
              Get Started
            </button>
          </a>
          <a href="#how-it-works">
            <button class="px-8 font-semibold rounded-lg py-3 bg-[#ffffffc0]">
              How it works
            </button>
          </a>
        </div>
      </div>
      <div>
        <img
          class="w-[60%] mx-auto lg:w-auto lg:mx-0 h-auto"
          src="./img/hero-image.png"
          alt="hero-image" />
      </div>
      <img
        class="absolute w-[40%] h-auto -z-10 lg:w-[30%] lg:z-0 bottom-0 -right-10 lg:left-[30%]"
        src="./img/game_img.png"
        alt="game image 1" />
    </main>

    <section
      style="
        background-image: url('./img/sec-session-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
      class="paddings relative h-max lg:h-[80vh] text-white text-center space-y-6">
      <h2 class="lg:text-3xl text-2xl font-semibold">
        Stay Connected With Trix
      </h2>
      <p class="lg:text-2xl text-lg">
        &#128227; Personalized Promotions:<br
          class="hidden lg:inline" />Exclusive promotions, gaming events, and
        surprises delivered directly to<br class="hidden lg:inline" />your email
        and whatsapp. Because the best gaming experince includes a<br
          class="hidden lg:inline" />touch of magic.
      </p>
      <div
        class="rounded-lg lg:py-6 lg:pr-[15%] lg:pl-10 p-4 lg:w-[80%] mx-auto mb-32 bg-[#000000ab] flex flex-col text-center lg:text-left lg:flex-row lg:items-center lg:justify-between lg:gap-0 gap-6">
        <p>
          Ready to embark on the ultimate gaming adventure? Join
          <br class="hidden lg:inline" />Trix today, where every click opens a
          door to gaming<br class="hidden lg:inline" />bliss. Let the games
          begin! &#128640;&#127918;
        </p>
        <a href="./src/pages/sign-up.html">
          <button
            class="px-8 py-3 order-2 w-full lg:w-auto rounded-lg text-white bg-purple">
            Get Started
          </button>
        </a>
        <img
          class="absolute lg:right-12 order-6 right-8 bottom-0 h-auto w-[20%] lg:w-[18%]"
          src="./img/game_img2.png" />
      </div>
    </section>

    <section class="paddings text-center space-y-6">
      <h2 class="lg:text-3xl text-xl font-semibold">
        Discover the Trix Advantage
      </h2>
      <p>
        Are you ready to revolutionize your gaming experience? Dive into the
        unparalleled advantages that<br />Trix brings to the table, making every
        one move, every transaction, and every gaming moment an<br />adventure
        like never before.
      </p>
      <ul class="grid items-center lg:grid-cols-3 md:grid-cols-2 gap-6">
        <li>
          <h3 class="font-semibold mb-6">&#128640; Instant Transactions</h3>
          <p>
            Trix takes speed to the next level. Enjoy<br />instant transactions,
            whether it's topping up<br />your airtime, grabbing a gift card,
            or<br />engaging in the bustling buy-and-sell<br />marketplace. The
            gaming world waits for no<br />one - neither does Trix.
          </p>
        </li>
        <li>
          <h3 class="font-semibold mb-6">&#x1F4A1; Real Rewards, Real Fun</h3>
          <p>
            Elevate your gaming journey with our rewarding<br />points system.
            Every transaction earns you points,<br />transforming your loyalty
            into tangible benefits.<br />Convert these points into real cash and
            unlock a<br />new dimension of fun and excitement.
          </p>
        </li>
        <li>
          <h3 class="font-semibold mb-6">&#x1F504; Flexible Payment Options</h3>
          <p>
            No more obstacles on your path to<br />gaming bliss. Trix offers
            flexible<br />payment options, allowing you to fund<br />your wallet
            through trusted traders or<br />opt for secure card payments.
            Your<br />gaming adventure, your rules.
          </p>
        </li>
        <!-- <img src="./img/game_img3.png" /> -->
        <li>
          <h3 class="font-semibold mb-6">
            &#x1F6E1; Secure and Transparent Transactions
          </h3>
          <p>
            Trust lies at the core of the Trix advantage.<br />Our platform
            ensures secure transactions<br />through reliable payment gateways,
            and<br />we maintain transparency at every step.<br />Game with
            confidence, knowing your<br />transactions are in safe hands
          </p>
        </li>
        <li>
          <h3 class="font-semibold mb-6">
            &#x1F310; Diverse Marketplace, One Destination
          </h3>
          <p>
            Explore a marketplace curated for gamers by<br />gamers. From
            instant airtime and data top-ups<br />to buying and selling gaming
            essentials, Trix is<br />your one-stop destination for all things<br />gaming.
            Your desires, your choices - all in one<br />place.
          </p>
        </li>
        <li>
          <h3 class="font-semibold mb-6">
            &#x1F31F; Promotions Tailored for You
          </h3>
          <p>
            Stay ahead of the gaming curve with<br />personalized promotions and
            updates. Trix<br />keeps you informed about exclusive offers,<br />gaming
            events, and surprises that add an<br />extra layer of excitement to
            your gaming<br />routine.
          </p>
        </li>
      </ul>
    </section>

    <section class="paddings relative space-y-8" id="how-it-works">
      <h2 class="lg:text-3xl text-2xl font-semibold text-center">
        How it works
      </h2>
      <div
        class="flex flex-col-reverse lg:pb-12 gap-8 lg:gap-0 items-center lg:flex-row lg:items-start lg:justify-between">
        <ul
          class="ParentDiv bg-[#ffffffc0] [&_li]:list-inside [&_li]:list-disc [&_li]:leading-[1.4] [&_li]:mb-10">
          <li>
            <h2 class="sedgwick-ave lg:text-3xl text-xl ml-3 inline-block">
              Initiate Transactions with Ease
            </h2>
            <p class="ml-14">
              Start your gaming journey by exploring the marketplace.
              <br />
              Trix allows you to make transactions even with a zero wallet
              balance.
            </p>
          </li>
          <li>
            <h2 class="sedgwick-ave lg:text-3xl text-xl ml-3 inline-block">
              Flexible Payment Options
            </h2>
            <p class="ml-14">
              Choose your preferred payment method - fund your wallet through
              trusted<br />traders or opt for secure card payments via dedicated
              links.
            </p>
          </li>
          <li>
            <h2 class="sedgwick-ave lg:text-3xl text-xl ml-3 inline-block">
              Transparent Confirmation
            </h2>
            <p class="ml-14">
              Confirm your transactions seamlessly on the Trix platform
              <br />
              Trix notifies the respective vendor with all transaction details
            </p>
          </li>
          <li>
            <h2 class="sedgwick-ave lg:text-3xl text-xl ml-3 inline-block">
              Swift Product Fulifillment
            </h2>
            <p class="ml-14">
              Your chosen vendor promptly fulfills the transaction, ensuring a
              seamless<br />delivery of digital goods & products.
            </p>
          </li>
          <li>
            <h2 class="sedgwick-ave lg:text-3xl text-xl ml-3 inline-block">
              Receive Detailed Receipts
            </h2>
            <p class="ml-14">
              Trix sends you a detailed receipt for every transaction,<br />keeping
              you informed at every step.
            </p>
          </li>
        </ul>

        <div>
          <img
            class="w-full h-auto lg:w-auto"
            src="./img/image.png"
            alt="get started" />
          <img
            class="absolute w-[40%] -z-10 h-auto lg:w-[30%] bottom-0 right-0 lg:right-0 lg:left-[60%]"
            src="./img/game_img4.png" />
        </div>
      </div>
    </section>

    <section class="paddings relative space-y-8 text-center" id="faq">
      <div class="z-10 space-y-6 mb-8">
        <h2 class="lg:text-3xl text-2xl font-bold leading-[1.3]">
          Frequently Asked <br />
          Questions
        </h2>
        <p class="text-xl font-semibold">What is Trix?</p>
        <p class="lg:w-[38%] w-full lg:mx-auto leading-[1.2]">
          Trix is a dynamic gaming commerce platform in Nigeria that connects
          gamers, buyers, and sellers. It offers a diverse marketplace for
          various gaming services, from airtime and data top-ups to gift cards
          and buy-and-sell opportunities.
        </p>
        <ul
          class="font-medium bg-[#ffffffc0] lg:bg-transparent rounded-lg text-xl [&_li]:mb-4">
          <li>How do I create an account on Trix?</li>
          <li>What services are available on Trix?</li>
          <li>Can I initiate transactions with zero wallet balance?</li>
          <li>How does the reward system work on Trix?</li>
          <li>What payment options are available on Trix?</li>
          <li>How does Trix ensure secure transactions?</li>
          <li>What happens after I confirm a transaction on Trix?</li>
          <li>Why do I receive promotions and updates from Trix?</li>
          <li>How can I contact Trix for support or inquiries?</li>
        </ul>
      </div>

      <div
        class="absolute left-0 right-0 bottom-0 flex items-end justify-between">
        <img
          class="w-[40%] -z-10 h-auto lg:w-[30%]"
          src="./img/game_img5.png" />
        <img
          class="w-[40%] -z-10 h-auto lg:w-[30%]"
          src="./img/game_img6.png" />
      </div>
    </section>

    <footer
      class="relative lg:px-10 lg:py-10 md:px-5 md:py-6 py-4 px-6 space-y-8 text-center text-white bg-purple">
      <div>
        <h2 class="font-semibold text-2xl">Explore Trix</h2>
        <div class="lg:text-2xl text-lg">
          <p class="leading-[2.2] mb-8">
            <a href="/src/pages/home.html">Home</a> |
            <a href="/src/pages/about.html">About Us</a> |
            <a href="#faq">FAQ</a> |
            <br />
            <a href="/src/pages/policy.html">Privacy policy</a> |
            <a href="/src/pages/terms.html">Terms of Service</a> |
            <br />
            Contact us | Customer Support |
            <br />
            Follow us on social media:
            <span class="ml-2 space-x-4">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-discord"></i>
              <i class="fa-brands fa-x-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-tiktok"></i>
            </span>
            <br />
          </p>
          <p>@2024 Trix. All rights reserved.</p>
        </div>
      </div>
      <img
        class="absolute hidden lg:inline-block w-[40%] h-auto lg:w-[25%] left-0 lg:left-28 bottom-0"
        src="./img/game_img7.png" />
    </footer>
  </body>
</html>
